extends ../layouts/common
block content

  h3 Add New Book
  form(action="/books/add", method="POST")
    div(class="form-group")
      label Book Title &nbsp
      input(class="form-control", type="text", name="title")
    div(class="form-group")
      label Book Description &nbsp
      input(class="form-control", type="text", name="description")
    button(class="btn btn-dark") Add