h3 Add New Book
form(action="/books/add", method="POST")
  div
    label Book Title &nbsp
    input(type="text", name="title")
  br
  div
    label Book Description &nbsp
    input(type="text", name="description")
  br
  button Add