doctype html
html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/5fcf3cf9-090a-49b8-bbcf-c0df17fc9360%2Ffavicon.png?v=1589550388926")
    
    title Books Management
  body
    include header
    div.container-fluid
      block content