extends ../layouts/common
block content

  h3 Add New Book
  form(action="/users/add", method="POST")
    if (error)
      .alert.alert-danger= error
    div.form-group
      label(for="name") User Name &nbsp
      input(id="name", class="form-control", type="text", name="name", value = name ? name : "")
    button.btn.btn-dark Add