h3 Add New Transaction
form(action="/transactions/add", method="POST")
  div
    label User Name &nbsp
    select(required, name = "user")
      each user in users
        option(value = user.id)= user.name
      
  br
  div
    label Book Title &nbsp
    select(required, name = "book")
      each book in books
        option(value = book.id)= book.title
  br
  button Add